#navbarlogin{
    background-color: black;
}

#titleestudios{
    text-align: center;
}
#letrasestudios{
    text-align: center;
}

#formestudios{
    text-align: right;
}

#botonlogin{
    background-color: rgb(230, 79, 64);
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 100%;
    padding: 14px 42px;
    margin-top: 1%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
}
#botonlogin:hover {
    background: #333333;
    border-color: transparent;
}
#formdiv{
    text-align: right;
}

#whatsapp-login{
    background-color: rgb(48, 205, 113);
    width: 25%;
    border-radius: 10px;
}

#divbottom{
    margin-top: 5%;
}
@media (max-width: 1200px){
    #titulo{
        margin-top: 50% !important;
        text-align: center;
    } 
    .custom-navbar .nav li a{
        font-size: 10px !important;
      }
}
@media (max-width: 1000px){
    #divarchivos .archivo{
        width: 50%;
        margin-top: 0.3%;
    }
  #titulo{
    margin-top: 8% !important;
    text-align: center;
    } 
  .nav-tabs > li > a {
    font-size: 13px;
  }

}
@media (max-width: 991px){
    #navigation{
        margin-top: -4%;
    }

}
@media (max-width: 660px){
    #whatsapp-login{
        width: 50%;
    }
}

@media (max-width: 370px){
    #whatsapp-login{
        width: 100%;
    }
}